{% extends "main/header.html" %}
{% block content %}
    <span>

  <ul class="collection">
    <li class="collection-item avatar">
      <img src="https://media-exp1.licdn.com/dms/image/C4D03AQFg9yechKvwJA/profile-displayphoto-shrink_200_200/0?e=1585180800&v=beta&t=OXB06RO6kJt2aKqk7BfQvOd3hxNWzOK9-8mUAsK-rSU" alt="" class="circle">
      <span class="title"> Łukasz </span>
      <p>Dawydzik </p>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle">mail</i>
      <span class="title">Mail</span>
      <p> l.dawydzik@gmail.com </p>
    </li>
    <li class="collection-item avatar">
      <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="" class="circle">
      <span class="title">Github</span>
        <p><a href="https://github.com/wydzik" target="_blank"> Mój profil Github </a></p>
    </li>
    <li class="collection-item avatar">
      <img src="https://content.linkedin.com/content/dam/me/business/en-us/amp/brand-site/v2/bg/LI-Bug.svg.original.svg" alt="" class="circle" >
      <span class="title">Linkedin</span>
        <p><a href="https://www.linkedin.com/in/%C5%82ukasz-dawydzik/" target="_blank"> Mój profil Linkedin</a></p>
    </li>
  </ul>
    </span>
{% endblock %}