{% extends "main/header.html" %}
{% block content %}
<main role="main" class="grid-container">
    <div>
        <table>
            <tr id="header">
                <td>ID Gry</td>
                <td>Nazwa gry</td>
                <td>W Trakcie</td>
                <td>Miejsc przy stole</td>
                <td>Zakończona</td>
            </tr>
            {% for gameroom in gamerooms %}
            <tr>
                <td>{{ gameroom.id }}</td>
                <td><a href="{% url 'main:game' gameroom.id %}">{{ gameroom.name }}</a></td>
                {% if gameroom.in_progress %}
                <td>TAK</td>
                {% elif not gameroom.in_progress %}
                <td>NIE</td>
                {% endif %}
                <td>{{ gameroom.seats }}</td>
            {% if gameroom.finished %}
                <td>TAK</td>
                {% elif not gameroom.finished %}
                <td>NIE</td>
                {% endif %}
            </tr>
{% endfor %}
            <tr>
                <td><a href="{% url 'main:creator' %}">Utwórz nową grę</a></td>
            </tr>
        </table>
    </div>

</div>
</main>
{% endblock %}