{##}
{#{% extends "main/header.html" %}#}
{#{%  block content %}#}
<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->

	 <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
{#    <link rel="stylesheet" href="/style.css">#}


    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>



    {% if title %}
        <title>SCRBL - {{ title }}</title>
    {% else %}
        <title>SCRBL</title>
{% endif %}
</head>
<body>
<div class="container">
    <div class="board">
        <table>
        <tr id = "row_1">
            <td class="dropzone" id = "tripleword"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone" id = "doubleletter"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone" id = "tripleword"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone" id = "doubleletter"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone" id = "tripleword"></td>
        </tr>
        <tr id = "row_2">
            <td class="dropzone"></td>
            <td class="dropzone" id="doubleword"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone" id = "tripleletter"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone" id = "tripleletter"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone" id="doubleword"></td>
            <td class="dropzone"></td>
        </tr>
        <tr id = "row_3">
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone" id="doubleword"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone" id = "doubleletter"></td>
            <td class="dropzone"></td>
            <td class="dropzone" id = "doubleletter"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone" id="doubleword"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
        </tr>
        <tr id = "row_4">
            <td class="dropzone" id = "doubleletter"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone" id="doubleword"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone" id = "doubleletter"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone" id="doubleword"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone" id = "doubleletter"></td>
        </tr>
        <tr id = "row_5">
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone" id="doubleword"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone" id="doubleword"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
        </tr>
        <tr id = "row_6">
            <td class="dropzone"></td>
            <td class="dropzone" id = "tripleletter"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone" id = "tripleletter"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone" id = "tripleletter"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone" id = "tripleletter"></td>
            <td class="dropzone"></td>
        </tr>
        <tr id = "row_7">
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone" id = "doubleletter"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone" id = "doubleletter"></td>
            <td class="dropzone"></td>
            <td class="dropzone" id = "doubleletter"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone" id = "doubleletter"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
        </tr>
        <tr id  = "row_8">
            <td class="dropzone" id = "tripleword"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone" id = "doubleletter"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone" id ="doubleword"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone" id = "doubleletter"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone" id = "tripleword"></td>
        </tr>
        <tr id = "row_9">
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone" id = "doubleletter"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone" id = "doubleletter"></td>
            <td class="dropzone"></td>
            <td class="dropzone" id = "doubleletter"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone" id = "doubleletter"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
        </tr>
        <tr id = "row_10">
            <td class="dropzone"></td>
            <td class="dropzone" id = "tripleletter"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone" id = "tripleletter"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone" id = "tripleletter"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone" id = "tripleletter"></td>
            <td class="dropzone"></td>
        </tr>
        <tr id = "row_11">
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone" id="doubleword"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone" id="doubleword"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
        </tr>
        <tr id = "row_12">
            <td class="dropzone" id = "doubleletter"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone" id="doubleword"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone" id = "doubleletter"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone" id="doubleword"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone" id = "doubleletter"></td>
        </tr>
        <tr id = "row_13">
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone" id="doubleword"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone" id = "doubleletter"></td>
            <td class="dropzone"></td>
            <td class="dropzone" id = "doubleletter"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone" id="doubleword"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
        </tr>
        <tr id = "row_14">
            <td class="dropzone"></td>
            <td class="dropzone" id="doubleword"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone" id = "tripleletter"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone" id = "tripleletter"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone" id="doubleword"></td>
            <td class="dropzone"></td>
        </tr>
        <tr id = "row_15">
            <td class="dropzone" id = "tripleword"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone" id = "doubleletter"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone" id = "tripleword"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone" id ="doubleletter"></td>
            <td class="dropzone"></td>
            <td class="dropzone"></td>
            <td class="dropzone" id = "tripleword" ></td>
        </tr>
</table>
</div>
      <div class="playerzone">
              <ul class="list">
                <li>
                    <h2  class="nickname">{{user.username}}</h2>
                </li>
                <li>
                    <div class = "dropzone" id ="letter"></div>
                </li>
                <li>
                    <button class="btn" onclick="makeMove()">Wykonaj</button>
                </li>
                <li>
                    <h6 class="points">Punkty:</h6>
                </li>
                <li>
                    <h6 class="points">Wymiana:</h6>
                    <div class="dropzone" id ="change"></div>
                </li>
                <li>
                    <button class="btn" onclick="replaceLetters()">Wymień</button>
                </li>
              </ul>
      </div>
</div>
<style>
table{
    width : 664px;
    height: 664px;
    margin-top: 100px;
    background: white;
}
th,td{
    border: 4px solid black;
}
h2{
    width: 270px;
    font-size: 35px;
align-items: center;
}
#tripleword{
    background: red;
    {#width: 40px;#}
    {#height: 40px;#}

}
body{
    background: darkolivegreen;
}
#tripleletter{
    background: darkblue;
}
#doubleword{
    background: lightpink;
}
#doubleletter{
    background: lightblue;
}
.container {
  display: grid;
  grid: 50px / auto auto auto;
  grid-gap: 40px;
}
.board{
    float:left;
}
.playerzone{
    margin-top: 100px;
    float:left;
}
.list{
        background: olivedrab;
}
.letter{
    border: 1px solid #466995;
    display: inline-block;
    width: 20px;
    height: 20px;
}
#change{
    display: inline-block;
    width: 270px;
    height: 80px;
    align-content: center;
}
#letter {
    {#margin-bottom: 10px;#}
    display: inline-block;
    width: 270px;
    height: 80px;
    align-content: center;

}
#draggable {
  width: 35px;
  height: 35px;
  text-align: center;
  background: lightyellow;
}
.dropzone{
    width: 40px;
    height: 40px;
    padding: 0px;
    align-items: center;
}
</style>
    <script type = "text/javascript" >
      var dragged;

/* events fired on the draggable target */
document.addEventListener("drag", function(event)
{

}, false);

document.addEventListener("dragstart", function(event)
{
  // store a ref. on the dragged elem
  dragged = event.target;
  // make it half transparent
  event.target.style.opacity = .5;
}, false);

document.addEventListener("dragend", function(event)
{
  // reset the transparency
  event.target.style.opacity = "";
}, false);

/* events fired on the drop targets */
document.addEventListener("dragover", function(event)
{
  // prevent default to allow drop
  event.preventDefault();
}, false);

document.addEventListener("dragenter", function(event)
{
  // highlight potential drop target when the draggable element enters it
  if (event.target.className == "dropzone") {
    event.target.style.background = "";
  }

}, false);

document.addEventListener("dragleave", function(event)
{
  // reset background of potential drop target when the draggable element leaves it
  if (event.target.className == "dropzone")
  {
    event.target.style.background = "";
  }
}, false);

document.addEventListener("drop", function(event)
{
  // prevent default action (open as link for some elements)
  event.preventDefault();
  // move dragged elem to the selected drop target
  if ((event.target.className == "dropzone" && event.target.childNodes.length == 0  )
      || (event.target.className == "dropzone" && (event.target.id == "letter" || event.target.id =="change")))
  {
         event.target.style.background = "";
         dragged.parentNode.removeChild(dragged);
         event.target.appendChild(dragged);
         if(!boardStateValidation())
         {
             alert("Położony kafelek znajduje nie graniczy z pozostałymi.")
             {#dragged.style.opacity = 1.0;#}
             {#var newLetterContainer = document.getElementById("letter").innerHTML + dragged.outerHTML;#}
             {#document.getElementById("letter").innerHTML = newLetterContainer;#}
             {#event.target.removeChild(dragged);#}
         }
  }
}, false);

    var letters = [
        'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', String.fromCharCode(260),
        'B', 'B', 'C', 'C', 'C',String.fromCharCode(262), 'D', 'D', 'D', 'E',
        'E', 'E', 'E', 'E', 'E', 'E',  String.fromCharCode(280), 'F', 'G', 'G',
        'H', 'H', 'I', 'I', 'I', 'I', 'I', 'I', 'I', 'I',
        'J', 'J', 'K', 'K', 'K', 'L', 'L', 'L',  String.fromCharCode(321), String.fromCharCode(321),
        'M', 'M', 'M', 'N', 'N', 'N', 'N', 'N',  String.fromCharCode(323), 'O',
        'O', 'O', 'O', 'O', 'O', String.fromCharCode(211), 'P', 'P', 'P', 'R',
        'R', 'R', 'R', 'S', 'S', 'S', 'S',  String.fromCharCode(346), 'T', 'T',
        'T', 'U', 'U', 'W', 'W', 'W', 'W', 'Y', 'Y', 'Y',
        'Y', 'Z', 'Z', 'Z', 'Z', 'Z',  String.fromCharCode(377),  String.fromCharCode(379), '_', '_'];
      var boardState = [];
      var firstMove = true;
      var wordsInRound = [];
    var scores = new Map([
        ["A", 1], [String.fromCharCode(260), 5], ["B", 3], ["C", 2], [String.fromCharCode(262), 6],
        ["D", 2], ["E", 1], [String.fromCharCode(280), 5], ["F", 5], ["G", 3], ["H", 3], ["I", 1], ["J", 3],
        ["K", 2], ["L", 2], [String.fromCharCode(321), 3], ["M", 2], ["N", 1], [String.fromCharCode(323), 7],
        ["O", 1], [String.fromCharCode(211), 5], ["P", 2], ["R", 1], ["S", 1], [String.fromCharCode(346), 5],
        ["T", 2], ["U", 3], ["W", 1], ["Y", 2], ["Z", 1], [String.fromCharCode(377), 9], [String.fromCharCode(379), 5], ["_", 0]]);

function fillLetters()
{
    var dropzone_div = document.getElementById("letter");
    var letter_string =  dropzone_div.innerHTML;
    if(dropzone_div.children.length < 7)
    {
        if(letters.length < (7 - dropzone_div.children.length))
        {
             var remaining_letters = dropzone_div.children.length;
            for (i = 0; i < letters.length; i++)
            {
                var temp = Math.floor(Math.random()*letters.length);
                letter_string = letter_string +
                    '<div class ="letter" id="draggable" draggable="true"' +
                    ' ondragstart="event.dataTransfer.setData(\'text/plain\',null)">' +
                    ' '+ letters[temp]+ '</div> ';
                letters.splice(temp,1);
            }
            dropzone_div.innerHTML = letter_string
        }
        else
        {
            var remaining_letters = dropzone_div.children.length;
            for (i = 0; i < 7- remaining_letters; i++)
            {
                var temp = Math.floor(Math.random()*letters.length);
                letter_string = letter_string +
                    '<div class ="letter" id="draggable" draggable="true"' +
                    ' ondragstart="event.dataTransfer.setData(\'text/plain\',null)">' +
                    ' '+ letters[temp]+ '</div> ';
                letters.splice(temp,1);
            }
            dropzone_div.innerHTML = letter_string
        }
    }
}

function makeMove()
{
    if(document.getElementById("change").children.length == 0)
    {
        if(firstMove)
        {
            if(boardStateValidation())
            {
                boardState = boardStateUpdate();
                fillLetters();
                blockLetters();
                firstMove = false;
            }
        }
else
    {
            if (moveValidation())
            {
                {#roundScore = wordScore();#}
                boardState = boardStateUpdate();
                fillLetters();
                blockLetters();
            } else
                {
                alert("Nie wszystkie kafelki stykają się z pozostałymi.")
            }
    }
    }
    else
    {
        alert("W polu wymiany znajdują się kafelki! Zdecyduj, czy chcesz wymiany, czy wykonania ruchu.")
    }
}

function blockLetters()
{
    var board_slots = document.getElementsByClassName("board")[0].getElementsByClassName("dropzone");
    for(i = 0 ; i < board_slots.length ; i++)
    {
        if(board_slots[i].children.length == 1)
        {
            board_slots[i].innerHTML = "<div class=\"letter\" " +
            "id=\"draggable\">" + board_slots[i].innerText + "</div>"
        }
    }
}

function replaceLetters()
{
    var replace_container = document.getElementById("change").children;
    if(replace_container.length <= letters.length && replace_container.length != 0 )
    {
        fillLetters();
        for (i = 0; i < replace_container.length; i++)
        {
            letters.push(replace_container[i].innerText);
        }
        document.getElementById("change").innerHTML = " ";
    }
    else if(replace_container.length > letters.length && replace_container.length != 0)
    {
        alert("Nie ma wystarczająco płytek, by dokonać wymiany.")
    }
    else if(replace_container.length == 0)
    {
        alert("Nie dodano żadnych płytek do wymiany")
    }
}

function boardStateUpdate()
{
    newBoardState = []
    for(j = 1; j <16; j++)
    {
        for(i = 0; i<15; i++)
        {
            newBoardState.push(document.getElementById("row_"+j).children[i].innerText);
        }
    }
    return newBoardState;
}

function boardStateValidation()
{
    newBoardState = boardStateUpdate();
    var counter = 0;
    for(i = 0; i < newBoardState.length; i++)
    {
        if (newBoardState[i] != "")
        {
            counter++;
        }
    }
    if(counter >1)
    {
        for (i = 0; i < newBoardState.length; i++)
        {
            if (newBoardState[i] != ""
                && (((newBoardState[i - 1] == "") || ((i - 1) % 15 == 0) || (i - 1 < 0))
                    && ((newBoardState[i + 1] == "") || ((i + 1) % 15 == 1) || (i + 1 > 254))
                    && ((newBoardState[i - 15] == "") || (i - 15 < 0))
                    && ((newBoardState[i + 15] == "") || (i + 15 > 254))))
            {
                return false;
            }
        }
    }
    return true;
}

function moveValidation()
{
    boardStateToBe = [];
    listOfNewLetters = [];
    listOfWords = [];
    for(j = 1; j < 16; j++)
    {
        for(i = 0; i < 15; i++)
        {
            boardStateToBe.push(document.getElementById("row_" + j).children[i]);
            if(document.getElementById("row_" + j).children[i].children.length == 1
                && document.getElementById("row_" + j).children[i].children.draggable.draggable == true)
            {
                listOfNewLetters.push(boardStateToBe.length - 1)
                alert(boardStateToBe.length - 1)
            }
        }
    }
    {#tutaj się musze zastanowić, czy true, czy lepiej false, żeby wymusić jakiś ruch#}
    if (listOfNewLetters.length == 0) return true;

    else if (listOfNewLetters.length == 1)
    {
        if (((boardState[listOfNewLetters[0] - 1] == "") || ((listOfNewLetters[0] - 1) % 15 == 0) || (listOfNewLetters[0] - 1 < 0))
            && ((boardState[listOfNewLetters[0] + 1] == "") || ((listOfNewLetters[0] + 1) % 15 == 1) || (listOfNewLetters[0] + 1 > 254))
            && ((boardState[listOfNewLetters[0] - 15] == "") || (listOfNewLetters[0] - 15 < 0))
            && ((boardState[listOfNewLetters[0] + 15] == "") || (i + 15 > 254))) return false;
        else
        {

            if(boardState[listOfNewLetters[0] - 1] != "" && boardState[listOfNewLetters[0] + 1] == "")
            {
                var check = true;
                var i = 1;
                var newWord = new String(boardStateToBe[listOfNewLetters[0]].innerText);
                while(check)
                {
                    newWord = newWord + boardState[listOfNewLetters[0] - i];
                    i++;
                    if (boardState[listOfNewLetters[0] - i] == "" || listOfNewLetters[0]-i % 15 == 14)
                    {
                        check = false;
                    }
                }
                listOfWords.push(newWord.split('').reverse().join(''));
            }
            if(boardState[listOfNewLetters[0] + 1] != "" && boardState[listOfNewLetters[0] - 1] == "")
            {
                var check = true;
                var i = 1;
                var newWord = new String(boardStateToBe[listOfNewLetters[0]].innerText);
                while(check)
                {
                    newWord = newWord + boardState[listOfNewLetters[0] + i];
                    i++;
                    if (boardState[listOfNewLetters[0] + i] == "" || listOfNewLetters[0] + i % 15 == 0)
                    {
                        check = false;
                    }
                }
                listOfWords.push(newWord);
            }
            if(boardState[listOfNewLetters[0] - 15] != "" && boardState[listOfNewLetters[0] + 15] == "")
            {
                var check = true;
                var i = 15;
                var newWord = new String(boardStateToBe[listOfNewLetters[0]].innerText);
                while(check)
                {
                    newWord = newWord + boardState[listOfNewLetters[0] - i];
                    i += 15;
                    if (boardState[listOfNewLetters[0] - i] == "" || listOfNewLetters[0] - i < 0)
                    {
                        check = false;
                    }
                }
                listOfWords.push(newWord.split('').reverse().join(''));
            }
            if(boardState[listOfNewLetters[0] + 15] != "" && boardState[listOfNewLetters[0] - 15] == "")
            {
                var check = true;
                var i = 15;
                var newWord = new String(boardStateToBe[listOfNewLetters[0]].innerText);
                while(check)
                {
                    newWord = newWord + boardState[listOfNewLetters[0] + i];
                    i += 15;
                    if (boardState[listOfNewLetters[0] + i] == "" || listOfNewLetters[0] + i > 224)
                    {
                        check = false;
                    }
                }
                listOfWords.push(newWord);
            }
            if(boardState[listOfNewLetters[0] + 15] != "" && boardState[listOfNewLetters[0] - 15] != "")
            {
                var check = true;
                var i = 1;
                var newWord = new String(boardStateToBe[listOfNewLetters[0]].innerText);
                while(check)
                {
                    newWord = newWord + boardState[listOfNewLetters[0] - i];
                    i++;
                    if (boardState[listOfNewLetters[0] - i] == "" || listOfNewLetters[0]-i % 15 == 14) {
                        check = false;
                    }
                }
                newWord = newWord.split('').reverse().join('');
                i = 1;
                while(!check)
                {
                    newWord = newWord + boardState[listOfNewLetters[0] + i];
                    i++;
                    if (boardState[listOfNewLetters[0] + i] == "" || listOfNewLetters[0]+i % 15 == 0) {
                        check = true;
                    }
                }
                listOfWords.push(newWord);
            }

            return listOfWords;
        }
    }
    else if(listOfNewLetters.length > 1)
    {
        if(listOfNewLetters[1] == listOfNewLetters[0] + 1)
        {
              for (i = 0; i < listOfNewLetters.length; i++)
              {
                  if(listOfNewLetters[i] % 15 == 0 && i > 0) return false;
              }
              for (i = 0; i < listOfNewLetters.length; i++)
              {
                  if(boardState[listOfNewLetters[0] - 1] != "")
            {
                var check = true;
                var i = 1;
                var newWord = new String(boardStateToBe[listOfNewLetters[0]].innerText);
                while(check)
                {
                    newWord = newWord + boardState[listOfNewLetters[0] - i];
                    i++;
                    if (boardState[listOfNewLetters[0] - i] == "" || listOfNewLetters[0] - i % 15 == 14)
                    {
                        check = false;
                    }
                }
                listOfWords.push(newWord.split('').reverse().join(''));
            }
            if(boardState[listOfNewLetters[0] + 1] != "")
            {
                var check = true;
                var i = 1;
                var newWord = new String(boardStateToBe[listOfNewLetters[0]].innerText);
                while(check)
                {
                    newWord = newWord + boardState[listOfNewLetters[0] + i];
                    i++;
                    if (boardState[listOfNewLetters[0] + i] == "" || listOfNewLetters[0] + i % 15 == 0)
                    {
                        check = false;
                    }
                }
                listOfWords.push(newWord);
            }
            if(boardState[listOfNewLetters[0] - 15] != "")
            {
                var check = true;
                var i=15;
                var newWord = new String(boardStateToBe[listOfNewLetters[0]].innerText);
                while(check)
                {
                    newWord = newWord + boardState[listOfNewLetters[0] - i];
                    i += 15;
                    if (boardState[listOfNewLetters[0] - i] == "" || listOfNewLetters[0] - i < 0)
                    {
                        check = false;
                    }
                }
                listOfWords.push(newWord.split('').reverse().join(''));
            }
            if(boardState[listOfNewLetters[0] + 15] != "")
            {
                var check = true;
                var i = 15;
                var newWord = new String(boardStateToBe[listOfNewLetters[0]].innerText);
                while(check)
                {
                    newWord = newWord + boardState[listOfNewLetters[0] + i];
                    i += 15;
                    if (boardState[listOfNewLetters[0] + i] == "" || listOfNewLetters[0] + i > 224)
                    {
                        check = false;
                    }
                }
                listOfWords.push(newWord);
            }
            return listOfWords;
              }
            return false;
        }
        else if(listOfNewLetters[1] == listOfNewLetters[0] + 15)
        {
             for (i = 0; i < listOfNewLetters.length; i++)
              {
                  if(boardState[listOfNewLetters[i] - 1] != "" || boardState[listOfNewLetters[i] + 1] != ""
                      || boardState[listOfNewLetters[i] - 15] || boardState[listOfNewLetters[i] + 15])
                  {
                      return true;
                  }
              }
            return false;
        }
        else
            {
                if ((15 - (listOfNewLetters[0] % 15)) >= listOfNewLetters[1] - listOfNewLetters[0])
                {
                    for (i = 0; i < listOfNewLetters.length - 1; i++)
                    {
                        for (j = listOfNewLetters[i] + 1; j < listOfNewLetters[i + 1]; j++)
                        {
                            if (boardState[j] == "" || listOfNewLetters[i + 1] % 15 == 0) return false;
                        }
                    }
                    return true;
                }
                else if ((listOfNewLetters[1] - listOfNewLetters[0]) % 15 == 0)
                {
                    for (i = 0; i < listOfNewLetters.length - 1; i++)
                    {

                        for (j = listOfNewLetters[i] + 15; j < listOfNewLetters[i + 1]; j += 15)
                        {
                            if (boardState[j] == "") return false;
                        }
                    }
                    return true;
                }
                return false;
            }
    }
    return true;
}



window.onload = fillLetters;
    </script>
{#{% endblock %}#}

</body>
</html>