{% extends "main/header.html" %}
{% block content %}
<main role="main" class="grid-container">
    <div>
        <table>
            <tr id="header">
                <td>ID Pokoju</td>
                <td>Nazwa pokoju</td>
                <td>W Trakcie</td>
                <td>Miejsc przy stole</td>
            </tr>
            {% for gameroom in gamerooms %}
            <tr>
                <td>{{ gameroom.id }}</td>
                <td><a href="{% url 'main:game' gameroom.id %}">{{ gameroom.name }}</a></td>
                <td>{{ gameroom.in_progress }}</td>
                <td>{{ gameroom.seats }}</td>
            </tr>
{% endfor %}
        </table>
    </div>

</div>
</main>
{% endblock %}