{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Homepage</title>#}
{#</head>#}
{#<body>#}
{#    <div id = "header"></div>#}
{#        <h1>Better Scrabble</h1>#}
{#        <ul>#}
{#            <li><a href="#home">Home</a></li>#}
{#            <li><a href="#login">Login</a></li>#}
{#            <li><a href="#leaderboard">Leaderboard</a></li>#}
{#            <li><a href="#game">Game</a></li>#}
{#        </ul>#}
{#    </div>#}
{#</body>#}
{#</html>#}

{% extends "main/header.html" %}
{% block content %}
 <ul class="collapsible">
    <li class = "active">
      <div class="collapsible-header"><i class=" material-icons">apps </i> O aplikacji</div>
      <div class="collapsible-body">
          <span>Aplikacja wykonana w ramach pracy inżynierskiej przez Łukasza Dawydzika,<br>
          pod nadzorem Doktor Anny Grocholewskiej-Czuryło, na Politechnice Poznańskiej,<br>
              w roku akademickim 2019/2020. Tematem pracy była Implementacja gry typu scrabble<br>
              – propozycja zmodyfikowanego systemu rozgrywki. Zakres zadań stanowiło: <br>
              1.	Implementacja aplikacji webowej umożliwiającej rozgrywkę w grę typu Scrabble.<br>
              2.	Implementacja zmodyfikowanego systemu rozgrywki.<br>
              3.	Implementacja systemu wieloosobowego.
</span></div>
    </li>
    <li>
        <div class="collapsible-header"><i class="material-icons">apps</i>Zasady</div>
      <div class="collapsible-body">
          <span>
              1. Ady dołączyć do gry, należy wcisnąć START.<br>
              2. Gra rozpocznie się, gdy start wciśnie tylu graczy, dla ilu przewidziana jest rozgrywka.<br>
              3. Nie wolno wychodzić z gry, wyjście skutkuje zakończeniem rozgrywki.<br>
              4. Każdy gracz dostaje ten sam zestaw liter i układa swoje litery w tym samym czasie.<br>
              5. Po ułożeniu liter, należy wcisnąć WYKONAJ. <br>
              6. Jeżeli słowo nie znajduje się w słowniku, za ruch zostanie przyznane 0 punktów. <br>
              7. Po ułożeniu słów przez wszystkich graczy wygrywa ten, który ułożył najlepiej punktowane słowo.<br>
              8. Jeżeli więcej graczy ułoży tak samo punktowane słowo, liczy się czas wykonania ruchu. <br>
              9. Po każdej kolejce, wszyscy gracze otrzymują litery, gracza wygranego, a wygrane słowo pojawi się na planszy.<br>
              10. Jeżeli żaden z graczy nie ułoży poprawnego słowa, następuje koniec gry.<br>
              11. Wygrywa gracz z najwyższą liczbą punktów.<br>
          </span></div>
    </li>
 <li>
        <div class="collapsible-header"><i class="material-icons">apps</i>FAQ</div>
      <div class="collapsible-body">
          <span>
              Q: Czy można tworzyć własne pokoje gry?<br>
              A: Aby utworzyć własny pokój gry, wystarczy wejść w zakładkę "Gra" a następnie wybrać opcję na samym dole "Utwórz nową grę".<br>
              <br>
              Q: Czy mogę dwa razy rozegrać grę w tym samym pokoju?<br>
              A: Nie, każdą grę można rozegrać tylko raz, potem jest dostępny do wglądu końcowy stan gry.<br>
              <br>
              Q: Czy mogę sprawdzić swoje wyniki z poprzednich gier?<br>
              A: Tak, wystarczy wybrać z paska nawigacji pole z nazwą użytkownika.<br>
              <br>
          </span></div>
    </li>
  </ul>
<script>
 M.AutoInit();
</script>

{% endblock %}